:root{
    --ganyu: url(https://ryufell758.github.io/Nirachatemotes/Img/ganyu.png) ;
}

#log .message .container-message-Ryufell07589 {
    background-image: var(--ganyu);
    background-size: 25%; background-position: center right; background-repeat: no-repeat;
}
