/*Emote Chat Size*/
#log .message .container-message .emote img {min-height: 30px; min-width: 30px;}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PERSONAGENS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root{
    /*Posições*/
    --top:     top right;
    --center:  center right;
    --bottom:  bottom right;

    /*Cyno*/
    --cyno: url(https://ryufell758.github.io/Nirachatemotes/Img1/Cyno.png);
    --bgSizeCyno: 30%;

    /*Nahida*/
    --nahida: url(https://ryufell758.github.io/Nirachatemotes/Img1/Nahida.png);
    --bgSizeNahida: 25%;

    /*Nillou*/
    --nillou: url(https://ryufell758.github.io/Nirachatemotes/Img1/Nillou.png);
    --bgSizeNillou: 25%;

    /*Tignari*/
    --tignari: url(https://ryufell758.github.io/Nirachatemotes/Img1/Tignari.png);
    --bgSizeTignari: 25%;

    /*Katherine*/
    --katheryne: url(https://ryufell758.github.io/Nirachatemotes/Img1/katheryne.png);
    --bgSizeKatheryne: 25%;
    
    /*GANYU*/
    --ganyu: url(https://ryufell758.github.io/Nirachatemotes/Img/ganyu.png);
    --bgSizeGanyu: 25%;

    /*Aether BOTTOM*/
    --aether: url(https://ryufell758.github.io/Nirachatemotes/Img/aether.png);
    --bgSizeAether: 25%;

    /*Aether1 BOTTOM*/
    --aether1: url(https://ryufell758.github.io/Nirachatemotes/Img/aether1.png);
    --bgSizeAether1: 25%;
    
    /*Luminie*/
    --luminie: url(https://ryufell758.github.io/Nirachatemotes/Img/lumine.png);
    --bgSizeLuminie: 25%;

    /*Ayaka*/
    --ayaka: url(https://ryufell758.github.io/Nirachatemotes/Img/ayaka.png);
    --bgSizeAyaka: 25%;

    /*Ayato*/
    --ayato: url(https://ryufell758.github.io/Nirachatemotes/Img/ayato.png);
    --bgSizeAyato: 25%;

    /*Baal,Shougun,Raiden -----  BOTTOM*/
    --baal: url(https://ryufell758.github.io/Nirachatemotes/Img/baal.png);
    --bgSizeBaal: 25%;

    /*Barbara*/
    --barbara: url(https://ryufell758.github.io/Nirachatemotes/Img/barbara.png);
    --bgSizeBarbara: 25%;

    /*Thoma*/
    --thoma: url(https://ryufell758.github.io/Nirachatemotes/Img/thoma.png);
    --bgSizeThoma: 25%;

    /*Beidou*/
    --beidou: url(https://ryufell758.github.io/Nirachatemotes/Img/beidou.png);
    --bgSizeBeidou: 25%;

    /*Bennett*/
    --bennett: url(https://ryufell758.github.io/Nirachatemotes/Img/bennet.png);
    --bgSizeBennet: 25%;

    /*Childe,Tartaglia ----- CENTRO */
    --childe: url(https://ryufell758.github.io/Nirachatemotes/Img/childe.png);
    --bgSizeChilde: 25%;
    
    /*Chong ----- BOTTOM */
    --chong: url(https://ryufell758.github.io/Nirachatemotes/Img/chong.png);
    --bgSizeChong: 25%;

    /*Diluc ----- BOTTOM */
    --diluc: url(https://ryufell758.github.io/Nirachatemotes/Img/diluc.png);
    --bgSizeDiluc: 25%;

    /*Diona ----- CENTER */
    --diona: url(https://ryufell758.github.io/Nirachatemotes/Img/diona.png);
    --bgSizeDiona: 25%;

    /*Xiangling ----- BOTTOM */
    --xiangling: url(https://ryufell758.github.io/Nirachatemotes/Img/xiangling.png);
    --bgSizeXiangling: 25%;

    /*Eula ----- BOTTOM */
    --eula: url(https://ryufell758.github.io/Nirachatemotes/Img/eula.png);
    --bgSizeEula: 25%;

    /*Gorou ----- BOTTOM */
    --gorou: url(https://ryufell758.github.io/Nirachatemotes/Img/gorou.png);
    --bgSizeGorou: 25%;

    /*Fischl ----- BOTTOM */
    --fischl: url(https://ryufell758.github.io/Nirachatemotes/Img/fischl.png);
    --bgSizeFischl: 25%;

    /*Hutao ----- CENTER */
    --hutao: url(https://ryufell758.github.io/Nirachatemotes/Img/hutao.png);
    --bgSizeHutao: 23%;

    /*Itto ----- CENTER */
    --itto: url(https://ryufell758.github.io/Nirachatemotes/Img/itto.png);
    --bgSizeItto: 20%;

    /*Venti ----- BOTTOM */
    --venti: url(https://ryufell758.github.io/Nirachatemotes/Img/venti.png);
    --bgSizeVenti: 25%;

    /*Jean ----- BOTTOM */
    --jean: url(https://ryufell758.github.io/Nirachatemotes/Img/jean.png);
    --bgSizeJean: 25%;

    /*Kaeya ----- BOTTOM */
    --kaeya: url(https://ryufell758.github.io/Nirachatemotes/Img/kaeya.png);
    --bgSizeKaeya: 25%;

    /*Kazuha ----- BOTTOM */
    --kazuha: url(https://ryufell758.github.io/Nirachatemotes/Img/kazuha.png);
    --bgSizeKazuha: 25%;

    /*Keqing ----- BOTTOM */
    --keqing: url(https://ryufell758.github.io/Nirachatemotes/Img/keqing.png);
    --bgSizeKeqing: 25%;

    /*Klee ----- CENTER */
    --klee: url(https://ryufell758.github.io/Nirachatemotes/Img/klee.png);
    --bgSizeKlee: 25%;

    /*Kokomi ----- BOTTOM */
    --kokomi: url(https://ryufell758.github.io/Nirachatemotes/Img/kokomi.png);
    --bgSizeKokomi: 25%;

    /*Kuki ----- BOTTOM */
    --kuki: url(https://ryufell758.github.io/Nirachatemotes/Img/kuki.png);
    --bgSizeKuki: 25%;

    /*Lisa ----- BOTTOM */
    --lisa: url(https://ryufell758.github.io/Nirachatemotes/Img/lisa.png);
    --bgSizeLisa: 25%;

    /*Albedo ----- BOTTOM */
    --albedo: url(https://ryufell758.github.io/Nirachatemotes/Img/albedo.png);
    --bgSizeAlbedo: 25%;

    /*Mona ----- CENTER */
    --mona: url(https://ryufell758.github.io/Nirachatemotes/Img/mona.png);
    --bgSizeMona: 25%;

    /*Ningguang ----- BOTTOM */
    --ningguang: url(https://ryufell758.github.io/Nirachatemotes/Img/ningguang.png);
    --bgSizeNingguang: 25%;

    /*Noelle ----- BOTTOM */
    --noelle: url(https://ryufell758.github.io/Nirachatemotes/Img/noelle.png);
    --bgSizeNoelle: 25%;

    /*Xiao ----- BOTTOM */
    --xiao: url(https://ryufell758.github.io/Nirachatemotes/Img/xiao.png);
    --bgSizeXiao: 25%;

    /*Qiqi ----- BOTTOM */
    --qiqi: url(https://ryufell758.github.io/Nirachatemotes/Img/qiqi.png);
    --bgSizeQiqi: 25%;

    /*Rosaria ----- BOTTOM */
    --rosaria: url(https://ryufell758.github.io/Nirachatemotes/Img/rosaria.png);
    --bgSizeRosaria: 25%;

    /*KujouSara ----- CENTER */
    --sara: url(https://ryufell758.github.io/Nirachatemotes/Img/sara.png);
    --bgSizeSara: 25%;

    /*Sayu ----- CENTER */
    --sayu: url(https://ryufell758.github.io/Nirachatemotes/Img/sayu.png);
    --bgSizeSayu: 25%;

    /*Shenhe ----- BOTTOM */
    --shenhe: url(https://ryufell758.github.io/Nirachatemotes/Img/shenhe.png);
    --bgSizeShenhe: 23%;

    /*Sucrose ----- CENTER */
    --sucrose: url(https://ryufell758.github.io/Nirachatemotes/Img/sucrose.png);
    --bgSizeSucrose: 23%;

    /*Xingqiu ----- CENTER */
    --xingqiu: url(https://ryufell758.github.io/Nirachatemotes/Img/xingqiu.png);
    --bgSizeXingqiu: 23%;

    /*Xinyan ----- BOTTOM */
    --xinyan: url(https://ryufell758.github.io/Nirachatemotes/Img/xinyan.png);
    --bgSizeXinyan: 23%;

    /*Yae ----- BOTTOM */
    --yae: url(https://ryufell758.github.io/Nirachatemotes/Img/yae.png);
    --bgSizeYae: 23%;

    /*Yae1 ----- BOTTOM */
    --yae1: url(https://ryufell758.github.io/Nirachatemotes/Img/yae1.png);
    --bgSizeYae1: 23%;

    /*Yanfei ----- BOTTOM */
    --yanfei: url(https://ryufell758.github.io/Nirachatemotes/Img/yanfei.png);
    --bgSizeYanfei: 25%;

    /*Yoimiya ----- BOTTOM */
    --yoimiya: url(https://ryufell758.github.io/Nirachatemotes/Img/yoimiya.png);
    --bgSizeYoimiya: 25%;

    /*Yujin ----- BOTTOM */
    --yujin: url(https://ryufell758.github.io/Nirachatemotes/Img/yujin.png);
    --bgSizeYujin: 25%;

    /*Zhongli ----- BOTTOM */
    --zhongli: url(https://ryufell758.github.io/Nirachatemotes/Img/zhongli.png);
    --bgSizeZhongli: 25%;

    /*Yelan ----- CENTER */
    --yelan: url(https://ryufell758.github.io/Nirachatemotes/Img/yelan.png);
    --bgSizeYelan: 25%;

    /*Dori ----- BOTTOM */
    --Dori: url(https://ryufell758.github.io/Nirachatemotes/Img/Dori.png);
    --bgSizeDori: 25%;

    /* DEFAULT */
    --default: url(https://ryufell758.github.io/Nirachatemotes/Img/default.png);
    --bgSizeDefault: 30%;

    /* BOT */
    --bot: url(https://ryufell758.github.io/Nirachatemotes/Img1/guardadaruina.png);
    --bgSizeBot: 30%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FUNDO DE NIKS DE USUARIOS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*FUNDO DOS NICKS PADRÕES*/
#log .meta {
    background-image: linear-gradient(to left, rgb(15, 91, 206), #6633ff);
}

/*FUNDO DOS NICKS RYU*/


#log .meta-Ryufell07589 {
    background-image: linear-gradient(to left, #fdc300, #fd4806);
}

#log .meta-fronteirabrs {
    background-image: linear-gradient(to left, #fdc300, #fd4806);
}
#log .meta-NoroiJr {
    background-image: linear-gradient(to left, #fdc300, #fd4806);
}
#log .meta-Wynnah {
    background-image: linear-gradient(to left, #fdc300, #fd4806);
}





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~IMAGEM DE MENSAGEM USUARIO~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*FUNDO PARA QUEM NÂO COMPROU IMAGEM NA LOJA*/
#log .message .container-message {
    background-image: var(--default);
    background-size: var(--bgSizeDefault);
    background-position: var(--center);
    background-color: rgba(28, 28, 28, 0.6);
    color: white;
    border: 2px solid #6633ff;
}


/************MODS**************/

#log .message .container-message-katheryne_bot {
    background-image: var(--katheryne);
    background-size: var(--bgSizeKatheryne);
    background-position: var(--center);
}

#log .message .container-message-Ryufell07589 {
    background-image: var(--cyno);
    /*background-size: var(--bgSizeCyno);*/
    background-size: 20%;
    background-position: var(--center);
    background-color: rgba(28, 28, 28, 0.6);
    color: white;
    border: 2px solid orange;
}

#log .message .container-message-fronteirabrs {
    background-color: rgba(28, 28, 28, 0.6);
    color: white;
    border: 2px solid orange;
}

#log .message .container-message-NoroiJr {
    background-image: var(--baal);
    background-size: var(--bgSizeBaal);
    background-position: var(--bottom);
    background-color: rgba(28, 28, 28, 0.6);
    color: white;
    border: 2px solid orange;
}

#log .message .container-message-Wynnah {
    background-image: var(--keqing);
    background-size: var(--bgSizeKeqing);
    background-position: var(--bottom);
    background-color: rgba(28, 28, 28, 0.6);
    color: white;
    border: 2px solid orange;
}

#log .message .container-message-niraravane {
    background-image: var(--hutao);
    background-size: var(--bgSizeHutao);
    background-position: var(--center);
}













#log .message .container-message-wolfizinn {
    background-image: var(--yae1);
    background-size: var(--bgSizeYae1);
    background-position: var(--bottom);
}

#log .message .container-message-Soled_By_Shurek {
    background-image: var(--yoimiya);
    background-size: var(--bgSizeYoimiya);
    background-position: var(--bottom);
}

#log .message .container-message-vitor_max {
    background-image: var(--noelle);
    background-size: var(--bgSizeNoelle);
    background-position: var(--bottom);
}

#log .message .container-message-Zesshl1I {
    background-image: var(--kokomi);
    background-size: var(--bgSizeKokomi);
    background-position: var(--bottom);
}

#log .message .container-message-Czai16 {
    background-image: var(--eula);
    background-size: var(--bgSizeEula);
    background-position: var(--bottom);
}

#log .message .container-message-Nehanker {
    background-image: var(--kazuha);
    background-size: var(--bgSizeKazuha);
    background-position: var(--bottom);
}

#log .message .container-message-bloodfallenbr {
    background-image: var(--jean);
    background-size: var(--bgSizeJean);
    background-position: var(--bottom);
}


#log .message .container-message-dextroier_player {
    background-image: var(--aether1);
    background-size: var(--bgSizeAether1);
    background-position: var(--bottom);
}

#log .message .container-message-laix_batista {
    background-image: var(--mona);
    background-size: var(--bgSizeMona);
    background-position: var(--center);
}

#log .message .container-message-superluminica {
    background-image: var(--gorou);
    background-size: var(--bgSizeGorou);
    background-position: var(--bottom);
}


#log .message .container-message-marscoloficial {
    background-image: var(--klee);
    background-size: var(--bgSizeKlee);
    background-position: var(--center);
}

#log .message .container-message-sorynee {
    background-image: var(--diluc);
    background-size: var(--bgSizeDiluc);
    background-position: var(--bottom);
}

#log .message .container-message-R4yni {
    background-image: var(--venti);
    background-size: var(--bgSizeVenti);
    background-position: var(--bottom);
}



#log .message .container-message-ErikaC007 {
    background-image: var(--yae);
    background-size: var(--bgSizeYae);
    background-position: var(--bottom);
}

#log .message .container-message-zefirown {
    background-image: var(--bennett);
    background-size: var(--bgSizeBennet);
    background-position: var(--bottom);
}


#log .message .container-message-semtiro157 {
    background-image: var(--yoimiya);
    background-size: var(--bgSizeYoimiya);
    background-position: var(--bottom);
}

#log .message .container-message-4nt0n1oFT {
    background-image: var(--childe);
    background-size: var(--bgSizeChilde);
    background-position: var(--center);
}

#log .message .container-message-opru_ {
    background-image: var(--rosaria);
    background-size: var(--bgSizeRosaria);
    background-position: var(--bottom);
}

#log .message .container-message-SrRoxas {
    background-image: var(--thoma);
    background-size: var(--bgSizeThoma);
    background-position: var(--bottom);
}

#log .message .container-message-harlysonmarques {
    background-image: var(--albedo);
    background-size: var(--bgSizeAlbedo);
    background-position: var(--bottom);
}

#log .message .container-message-marqs1407 {
    background-image: var(--zhongli);
    background-size: var(--bgSizeZhongli);
    background-position: var(--bottom);
}

#log .message .container-message-Frostmaniaco {
    background-image: var(--venti);
    background-size: var(--bgSizeVenti);
    background-position: var(--bottom);
}


#log .message .container-message-powermendonca {
    background-image: var(--zhongli);
    background-size: var(--bgSizeZhongli);
    background-position: var(--bottom);
}

#log .message .container-message-kelvsss {
    background-image: var(--ningguang);
    background-size: var(--bgSizeNingguang);
    background-position: var(--bottom);
}


#log .message .container-message-marcosgplays482 {
    background-image: var(--aether);
    background-size: var(--bgSizeAether);
    background-position: var(--bottom);
}

#log .message .container-message-johnniemrx {
    background-image: var(--cyno);
    background-size: var(--bgSizeCyno);
    background-position: var(--center);
}

#log .message .container-message-riellblue {
    background-image: var(--ayato);
    background-size: var(--bgSizeAyato);
    background-position: var(--bottom);
}


#log .message .container-message-firem4ge {
    background-image: var(--diona);
    background-size: var(--bgSizeDiona);
    background-position: var(--center);
}

#log .message .container-message-mailsonxp {
    background-image: var(--kokomi);
    background-size: var(--bgSizeKokomi);
    background-position: var(--bottom);
}

#log .message .container-message-MetalContraAsNuvens {
    background-image: var(--ganyu);
    background-size: var(--bgSizeGanyu);
    background-position: var(--bottom);
}

#log .message .container-message-haru1247 {
    background-image: var(--eula);
    background-size: var(--bgSizeEula);
    background-position: var(--bottom);
}

#log .message .container-message-AkiraMath {
    background-image: var(--xiao);
    background-size: var(--bgSizeXiao);
    background-position: var(--bottom);
}

#log .message .container-message-MidnightLui {
    background-image: var(--Dori);
    background-size: var(--bgSizeDori);
    background-position: var(--bottom);
}

#log .message .container-message-yargod7 {
    background-image: var(--kaeya);
    background-size: var(--bgSizeKaeya);
    background-position: var(--bottom);
}

#log .message .container-message-TinkyWinkki {
    background-image: var(--cyno);
    background-size: var(--bgSizeCyno);
    background-position: var(--center);
}

#log .message .container-message-ponderar {
    background-image: var(--beidou);
    background-size: var(--bgSizeBeidou);
    background-position: var(--center);
}

#log .message .container-message-Martinn_Arcconi {
    background-image: var(--kokomi);
    background-size: var(--bgSizeKokomi);
    background-position: var(--bottom);
}

#log .message .container-message-Herrscher_Das_Freiras {
    background-image: var(--klee);
    background-size: var(--bgSizeKlee);
    background-position: var(--center);
}

#log .message .container-message-Leonardo_1603 {
    background-image: var(--nillou);
    background-size: var(--bgSizeNillou);
    background-position: var(--center);
}

#log .message .container-message-saraiva24 {
    background-image: var(--cyno);
    background-size: var(--bgSizeCyno);
    background-position: var(--center);
}

#log .message .container-message-kintoo4km {
    background-image: var(--itto);
    background-size: var(--bgSizeItto);
    background-position: var(--center);
}

#log .message .container-message-4kmaster5 {
    background-image: var(--yoimiya);
    background-size: var(--bgSizeYoimiya);
    background-position: var(--bottom);
}


#log .message .container-message-StreamElements {
    background-image: var(--niraracalvo);
    background-size: var(--bgSizeNiraracalvo);
    background-position: var(--top);
}

#log .message .container-message-tadorinkito {
    background-image: var(--cyno);
    background-size: var(--bgSizeCyno);
    background-position: var(--center);
}

