#log .message .container-message .emote img {min-height: 30px; min-width: 30px;}

#log .message .container-message-Ryufell07589
        {
            background-image: url("https://ryufell758.github.io/Nirachatemotes/Img/barbara.png");
            background-size: 25%;
            background-position: center;
        }
        
#log .message .container-message-wolfizinn
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/yae.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Shurek
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/yoimiya.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-vitor_max
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/noelle.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Zesshl1I
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/kokomi.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Czai16
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/eula.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Nehanker
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/kazuha.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-bloodfallenbr
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/jean.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-dextroier_player
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/aether.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-laix_batista
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/mona.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-superluminica
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/gorou.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-marscoloficial
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/klee.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-sorynee
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/diluc.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-R4yni
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/venti.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-ErikaC007
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/yae.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-zefirown
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/bennett.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-semtiro157
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/yoimiya.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-4nt0n1oFT
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/childe.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-opru_
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/rosaria.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-SrRoxas
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/thoma.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-harlysonmarques
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/albedo.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-marqs1407
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/zhongli.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Frostmaniaco
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/venti.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-powermendonca
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/zhongli.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-kelvsss
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/ningguang.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-marcosgplays482
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/aether.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-johnniemrx
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/cyno.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-riellblue
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/ayato.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-firem4ge
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/diona.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-mailsonxp
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/kokomi.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-MetalContraAsNuvens
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/ganyu.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-haru1247
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/eula.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-AkiraMath
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/xiao.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-yargod7
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/kaeya.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-TinkyWinkki
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/cyno.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-ponderar
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/beidou.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Martinn_Arcconi
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/kokomi.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Herrscher_Das_Freiras
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/klee.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Leonardo_1603
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/nillou.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-saraiva24
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/cyno.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-kintoo4km
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/itto.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-4kmaster5
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/yoimiya.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-tadorinkito
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/cyno.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-lM1GASl
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/ganyu.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-naruosama
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/xiao.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-testeiro
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/eula.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-pedrinho
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/hutao.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message-Ryufel07589
        {
            background-image: url(https://ryufell758.github.io/Nirachatemotes/Img/albedo.png);
            background-size: 25%;
            background-position: center;
        }#log .message .container-message 
    {
        
        background-image: url("https://ryufell758.github.io/Nirachatemotes/Img/default.png");
        background-size: 25%;
        background-position: center;
    }